@charset "UTF-8";
:root {
  --ti-cursor-margin-left: 0.1em;
  --ti-cursor-color: dodgerblue;
}

body {
  background-color: #000;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.wrapper {
  overflow: hidden;
}

.wrapper .swiper {
  width: 100%;
  height: 100%;
}

.wrapper .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.wrapper .swiper-pagination-bullet {
  opacity: 1;
  background-color: #fff;
}

.wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d1ff00;
}

.wrapper .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.wrapper .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-bottom: 30px;
}

.wrapper .swiper-pagination-vertical.swiper-pagination-bullets,
.wrapper .swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  left: 60px;
}

.wrapper .swiper-pagination-bullet span {
  min-width: 200px;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  color: #fff;
  position: relative;
  top: -4px;
}

.swiper .swiper-slide.slide01 {
  background: url("../images/ex1.png") 50% 0/contain no-repeat;
}

.swiper .swiper-slide.slide02 {
  background: url("../images/ex2.png") 50% 0/contain no-repeat;
}

.swiper .swiper-slide.slide03 {
  background: url("../images/ex3.png") 50% 0/contain no-repeat;
}

.swiper .swiper-slide.slide04 {
  background: url("../images/ex4.png") 50% 0/contain no-repeat;
}

.swiper .swiper-slide.slide05 {
  background: url("../images/ex5.png") 50% 0/contain no-repeat;
}

#main {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.gnb {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 60px;
  z-index: 10;
  width: 100px;
  height: 100px;
}

.gnb-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
}

.gnb-btn .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gnb-btn .hamburger .line:nth-child(2) {
  width: 25px;
  margin: 8px 0;
}

.gnb-btn .hamburger .line:hover {
  cursor: pointer;
}

.gnb-slogan,
.gnb nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gnb-slogan {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
  margin-left: 0;
}

.gnb nav {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
  margin-left: 30%;
}

.gnb-circle {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 1.186);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 1.186);
  z-index: 11;
}

.gnb.is-active .gnb-btn .hamburger .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.gnb.is-active .gnb-btn .hamburger .line:nth-child(2) {
  width: 0;
}

.gnb.is-active .gnb-btn .hamburger .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

.gnb.is-active .gnb-circle {
  right: -65vh;
  background-color: #01a0e4;
  width: 1200px;
  height: 1200px;
}

.gnb.is-active .gnb-slogan {
  opacity: 1;
  max-height: inherit;
  visibility: visible;
  margin-left: -10%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.gnb.is-active nav {
  opacity: 1;
  max-height: inherit;
  visibility: visible;
  position: fixed;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.gnb.is-active .gnb-dimmed {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

/* 퀵링크 */
.quick {
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 1;
}

.quick ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #2a6df9), to(#6515cc));
  background: linear-gradient(0deg, #2a6df9 10%, #6515cc 100%);
  border-radius: 50px;
  padding-top: 20px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: height 0.45s ease;
  transition: height 0.45s ease;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.quick ul > li {
  padding-left: 0;
  list-style-type: none;
  opacity: 0;
  text-align: center;
  margin-bottom: 19px;
  -webkit-transition: visibility .7s ease, opacity .7s ease;
  transition: visibility .7s ease, opacity .7s ease;
  height: 60px;
}

.quick ul > li:last-child {
  margin-bottom: 0;
}

.quick ul > li > a {
  display: inline-block;
  -webkit-transition: opacity .45s ease;
  transition: opacity .45s ease;
}

.quick ul > li > a:hover {
  opacity: 0.65;
}

.quick ul > li > a > span {
  display: inline-block;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.quick ul > li.exp-button {
  visibility: visible;
  opacity: 1;
}

.quick ul.is-active {
  height: 190px;
  cursor: default;
}

.quick ul.is-active > li {
  visibility: visible;
  opacity: 1;
}

.quick ul.is-active > li > a > span {
  opacity: 1;
}

.quick .icon {
  width: 29px;
  height: 34px;
}

.quick .icon-chatbot {
  background: url("/uploads/media/ic_ad.png") no-repeat;
  background-size: 29px;
}

.quick .icon-question {
  background: url("/uploads/media/ic_ad.png") no-repeat;
  background-size: 29px;
}
/*# sourceMappingURL=main.css.map */